@import url(style.css);

#container-header {
    background-color: var(--background-header);
    width: 100vw;
    height: 250px;
    padding-top:50px;
}

h1 {
    font-size: 2.5rem;
    color: var(--texto-primario);
    text-align: center;
}

h1 span {
    color: var(--saldo-positivo);
    font-size: 3rem;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80vw;
    margin: 80px auto; 
}

.cards {
    height: 150px;
    width: 80vw;
    min-width: 310px;
    background-color: var(--texto-primario);
    border-radius: 5px;
    color: var(--background-header);
    padding: 30px;
    box-shadow: 0px 0px 10px 1px rgba(177, 177, 177, 0.5);
}

.card-negative {
    background-color: var(--saldo-negativo);
    box-shadow: 0px 0px 10px 1px rgba(206, 81, 81, 0.5);
    color: var(--texto-primario);
}

.card-positive {
    background-color: var(--saldo-positivo);
    box-shadow: 0px 0px 10px 1px #4caf4f96;
    color: var(--texto-primario);
}

.cards div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    width: 25px;
    height: 25px;
}

.money-text {
    font-size: 1.7rem;
    text-align: left;
    margin-top: 40px;
}

.money-text::before {
    content: 'R$ ';
}