@import url(style.css);

dialog {
    height: 50vh;
    background-color: var(--background-secundario);
    border: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.459);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.close {
    display: none;
}

h2 {
    font-size: 1.8rem;
    text-align: left;
    font-weight: 500;
    position: relative;
    top: 35px;
    left: 38px;
    color: var(--texto-primario);
    margin-bottom: 10px;
}

form {
    background-color: var(--background-secundario);
    color: var(--texto-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    width: 100vw;
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;

}

label {
    display: block;
}

#price {
    width: 150px;
}

#date {
    background-color: var(--background-primario);
    color: var(--texto-primario);
    border: 1px solid var(--grades);
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
    padding: 0 5px;
    cursor: pointer;
}

form div:nth-child(3) {
    margin: auto;
}

form div:nth-child(4) {
    width: 100vw;
}


#form-radio-container {
    min-width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-radio-container input[type="radio"] {
    display: none;
}

#form-radio-container label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    height: 20px;
    vertical-align: middle;
}

#form-radio-container label::before {
    content: '';
    border: 2px solid var(--grades);   
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .3s;
}

#input:checked + label::before {
    background-color: var(--saldo-positivo);
    box-shadow: 0px 0px 10px 1px #4caf4f96;
    border-color: var(--saldo-positivo);
}

#output:checked + label::before {
    background-color: var(--saldo-negativo);
    box-shadow: 0px 0px 10px 1px rgba(206, 81, 81, 0.5);
    border-color: var(--saldo-negativo);
}

.input-text {
    height: 40px;
    border: 1px solid var(--grades);
    border-radius: 4px;
    background-color: var(--background-primario);
    margin-top: 5px;
    color: var(--texto-primario);
    width: 100%;
    padding: 0 5px;
    font-size: 14px;
}

button {
    font-size: 1rem;
    height: 50px;
    width: 48%;
    background-color: var(--saldo-positivo);
    color: var(--texto-primario);
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 5px;
    cursor: pointer;
    transition: transform .1s;
}

button:active {
    transform: scale(.98);
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cancel {
    background-color: transparent;
    border: 1px solid var(--saldo-negativo);
    color: var(--saldo-negativo);
}