@import url(./reset.css);

:root {
    --background-primario: #121212;
    --background-secundario: #1a1a1a;
    --texto-primario: #FFFFFF;
    --texto-secundário: #CCCCCC;
    --saldo-positivo: #4CAF50;
    --saldo-negativo: #FF5252;
    --botao: #2196F3;
    --background-header: #041f47;
    --grades: #37474F;
}

body {
    background-color: var(--background-primario);
}

#container-header {
    background-color: var(--background-header);
    width: 100vw;
    height: 250px;
    padding-top:50px;
}

h1 {
    font-size: 2.5rem;
    color: var(--texto-primario);
    text-align: center;
}

h1 span {
    color: var(--saldo-positivo);
    font-size: 3rem;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80vw;
    margin: 80px auto; 
}

.cards {
    height: 150px;
    width: 80vw;
    min-width: 310px;
    background-color: var(--texto-primario);
    border-radius: 5px;
    color: var(--background-header);
    padding: 30px;
    box-shadow: 0px 0px 10px 1px rgba(177, 177, 177, 0.5);
}

.card-negative {
    background-color: var(--saldo-negativo);
    box-shadow: 0px 0px 10px 1px rgba(206, 81, 81, 0.5);
    color: var(--texto-primario);
}

.card-positive {
    background-color: var(--saldo-positivo);
    box-shadow: 0px 0px 10px 1px #4caf4f96;
    color: var(--texto-primario);
}

.cards div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    width: 25px;
    height: 25px;
}

.money-text {
    font-size: 1.7rem;
    text-align: left;
    margin-top: 40px;
}
/* ============== FORMULÁRIO ============== */

dialog {
    height: 50vh;
    background-color: var(--background-secundario);
    border: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.459);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.close {
    display: none;
}

h2 {
    font-size: 1.8rem;
    text-align: left;
    font-weight: 500;
    position: relative;
    top: 35px;
    left: 38px;
    color: var(--texto-primario);
    margin-bottom: 10px;
}

form {
    background-color: var(--background-secundario);
    color: var(--texto-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    width: 100vw;
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;

}

label {
    display: block;
}

#price {
    width: 150px;
}

#date {
    background-color: var(--background-primario);
    color: var(--texto-primario);
    border: 1px solid var(--grades);
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
    padding: 0 5px;
    cursor: pointer;
}

form div:nth-child(3) {
    margin: auto;
}

form div:nth-child(4) {
    width: 100vw;
}


#form-radio-container {
    min-width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-radio-container input[type="radio"] {
    display: none;
}

#form-radio-container label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    height: 20px;
    vertical-align: middle;
}

#form-radio-container label::before {
    content: '';
    border: 2px solid var(--grades);   
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .3s;
}

#input:checked + label::before {
    background-color: var(--saldo-positivo);
    box-shadow: 0px 0px 10px 1px #4caf4f96;
    border-color: var(--saldo-positivo);
}

#output:checked + label::before {
    background-color: var(--saldo-negativo);
    box-shadow: 0px 0px 10px 1px rgba(206, 81, 81, 0.5);
    border-color: var(--saldo-negativo);
}

.input-text {
    height: 40px;
    border: 1px solid var(--grades);
    border-radius: 4px;
    background-color: var(--background-primario);
    margin-top: 5px;
    color: var(--texto-primario);
    width: 100%;
    padding: 0 5px;
    font-size: 14px;
}

button {
    font-size: 1rem;
    height: 50px;
    width: 48%;
    background-color: var(--saldo-positivo);
    color: var(--texto-primario);
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 5px;
    cursor: pointer;
    transition: transform .1s;
}

button:active {
    transform: scale(.98);
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cancel {
    background-color: transparent;
    border: 1px solid var(--saldo-negativo);
    color: var(--saldo-negativo);
}

#add {
    border-radius: 50%;
    width: 54px;
    position: fixed;
    right: 20px;
    bottom: 25px;
    text-align: center;
    background-color: var(--botao);
    box-shadow: 2px 2px 8px 1px #2195f33d;

    display: flex;
    justify-content: center;
    align-items: center;
}

button#add img {
    margin: 0;
    width: 1.8rem;
}

/* ============== TABELA ============== */

#table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 80vw;
    margin: 445px auto 50px;
}

table {
    border-collapse: collapse;
    color: var(--texto-secundário);
    text-align: left;
    width: 80%;
}

thead {
    height: 2.5rem;
    font-weight: 700;
}

tbody {
    background-color: var(--background-secundario);
}

td {
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
}

td:first-child {
    max-width: 30rem;
}

td:last-child {
    text-align: center;
}


td img {
    width: 25px;
}

td img:first-child {
    margin-right: 5px;
}

td, th {
    border: 1px solid var(--grades); 
    vertical-align: middle;
    padding: 10px 15px;
}

footer {
    color: var(--texto-secundário);
    text-align: center;
    height: 50px;
}