@import url(./reset.css);

:root {
    --background-primario: #121212;
    --background-secundario: #1a1a1a;
    --texto-primario: #FFFFFF;
    --texto-secundário: #CCCCCC;
    --saldo-positivo: #4CAF50;
    --saldo-negativo: #FF5252;
    --botao: #2196F3;
    --background-header: #041f47;
    --grades: #37474F;
}

body {
    background-color: var(--background-primario);
}

#container-header {
    background-color: var(--background-header);
    width: 100%;
    height: 250px;
    padding-top: 50px;
}

h1 {
    font-size: 2.5rem;
    color: var(--texto-primario);
    text-align: center;
}

h1 span {
    color: var(--saldo-positivo);
    font-size: 3rem;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 180px;
    width: 100%;
}

.cards {
    height: 150px;
    width: 250px;
    background-color: var(--texto-primario);
    border-radius: 5px;
    color: var(--background-header);
    padding: 30px;
    box-shadow: 0px 0px 10px 1px rgba(177, 177, 177, 0.5);
}

.card-negative {
    background-color: var(--saldo-negativo);
    box-shadow: 0px 0px 10px 1px rgba(206, 81, 81, 0.5);
    color: var(--texto-primario);
}

.card-positive {
    background-color: var(--saldo-positivo);
    box-shadow: 0px 0px 10px 1px #4caf4f96;
    color: var(--texto-primario);
}

.cards div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    width: 25px;
    height: 25px;
}

.money-text {
    font-size: 1.7rem;
    text-align: left;
    margin-top: 40px;
}

#form-container {
    margin-top: 120px;
    color: var(--texto-primario);
}

form {
    background-color: var(--background-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 75%;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 0px 30px #041f478f;
    border-radius: 10px;
}

label {
    display: block;
}
.input-text {
    height: 40px;
    border: 1px solid var(--grades);
    border-radius: 4px;
    background-color: var(--background-primario);
    margin-top: 3px;
    color: var(--texto-primario);
    width: 270px;
    padding: 0 5px;
    font-size: 14px
}

#price {
    width: 150px;
}

#form-radio-container {
    min-width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#form-radio-container input[type="radio"] {
    display: none;
}

#form-radio-container label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    height: 20px;
    vertical-align: middle;
}

#form-radio-container label::before {
    content: '';
    border: 2px solid var(--grades);   
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .3s;
}

#input:checked + label::before {
    background-color: var(--saldo-positivo);
    box-shadow: 0px 0px 10px 1px #4caf4f96;
    border-color: var(--saldo-positivo);
}

#output:checked + label::before {
    background-color: var(--saldo-negativo);
    box-shadow: 0px 0px 10px 1px rgba(206, 81, 81, 0.5);
    border-color: var(--saldo-negativo);
}

#date {
    background-color: var(--background-primario);
    color: var(--texto-primario);
    border: 1px solid var(--grades);
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 3px;
    padding: 0 5px;
    cursor: pointer;
}

#table-container {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

button {
    font-size: 12px;
    height: 55px;
    width: 120px;
    background-color: var(--botao);
    color: var(--texto-primario);
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 5px;
    cursor: pointer;
    transition: transform .1s;
}

button:active {
    transform: scale(.98);
}

button img {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

table {
    border-collapse: collapse;
    color: var(--texto-secundário);
    text-align: justify;
}

thead {
    height: 2.5rem;
    font-weight: 700;
}

tbody {
    background-color: var(--background-secundario);
}

td {
    width: 10rem;
    height: 4rem;
    word-wrap: break-word;
}

td:first-child {
    min-width: 22rem;
    max-width: 30rem;
}

td, th {
    border: 1px solid var(--grades); 
    vertical-align: middle;
    padding: 10px 15px;
}