@import url(./reset.css);
@import url(./cards.css);
@import url(./modal.css);
@import url(./table.css);
@import url(./add-button.css);

:root {
    --background-primario: #121212;
    --background-secundario: #1a1a1a;
    --texto-primario: #FFFFFF;
    --texto-secundário: #CCCCCC;
    --saldo-positivo: #4CAF50;
    --saldo-negativo: #FF5252;
    --botao: #2196F3;
    --background-header: #041f47;
    --grades: #37474F;
}

body {
    background-color: var(--background-primario);
}

footer {
    color: var(--texto-secundário);
    text-align: center;
    height: 50px;
}